.homepage {

	@keyframes menu { 

	    from {  opacity:0;} 
	    to {  opacity:1; } 
	}

	display:block;

	h1, h2, h3 {
		text-align: center;
	}

	h1 {
		font-size: 20em;
		/* margin-top: 50vh; 
			transform: translateY(-50%);poussé de la moitié de hauteur de viewport */
	}

	nav {
		display: none;
	}

	.menu {
		display: block;
		opacity: 0;

	    animation:menu ease-out 1;
	    animation-fill-mode:forwards;
	    animation-duration:1.3s;
	    animation-delay: 0.8s;
	    animation-iteration-count: 1;
		/*
		 * infinite pour le faire a l'infini ^^
		 animation-direction: reverse; pour le faire à l'envers. et 'alternate' pour le faire une fois dans un sens et une fois dans l'autre ^^*/
	   
	   li {
	 	list-style: none;
	 	padding: 5px;
	 	display: block;
	 	width: $box-size;
	 	height: $box-size;
	 	text-transform: uppercase;
		}
	}
	
	.pressed {
		letter-spacing: 100px;
	}
}