/**
 * Bootstrap
 */
@import "bootstrap";

/**
 * Fonts
 */
@import "fonts";
/**
 * Font-awesome
 */
@import "font-awesome";


body {
	color:white;
	background: #222;
}

div {

	 transition: width 0.6s ease-out, margin 0.6s ease-out;
}

h1,h2, h3 {
	text-align: center;
}

h1 {
	font-size: 20em;
}

.social {
	margin: 10px 0 0 0;
}

.lastUpdate {
	position: absolute;
	bottom: 0px;
	right: 10px;
}


@keyframes menu { 

    from {  opacity:0;} 
    to {  opacity:1; } 
}

nav {
	display: none;
}

.menu {
	display: block;
	opacity: 0;
    animation:menu ease-out 1;
    animation-fill-mode:forwards;
    animation-duration:1.3s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
	/**
 * infinite pour le faire a l'infini ^^
 animation-direction: reverse; pour le faire à l'envers. et 'alternate' pour le faire une fois dans un sens et une fois dans l'autre ^^
 */  
}

.startPress {
	
  transition: 4s;
}




