
$anime-time: 8s;
$box-size: 100px;
$clip-distance: .05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;

$main-color: white;

/**
 * Bootstrap
 */
@import "bootstrap";

/**
 * Fonts
 */
@import "fonts";
/**
 * Font-awesome
 */
@import "font-awesome";


/**
 * homepage
 */
@import "homepage";

/**
 * General;
 */
@import "travaux";




body {
	color:white;
	background: #222;
}


div {

	 transition: width 0.6s ease-out, margin 0.6s ease-out;
}

main {
	overflow:hidden;
	width: 100%;
	height: 100vh;
}

.social {
	top: 20px;
	right: 20px;
	position: absolute;
}

.lastUpdate {
	position: absolute;
	bottom: 0px;
	right: 10px;
}

#actualEcran {
	display: block;
}



.contact {
	display: none;
	font-size: 50px;
	opacity: 0.5;
	color: red;
}





@keyframes clipMe {
  0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
  25% {clip: rect(0px, $path-width, $clip-size, 0px); }
  50% {clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px); }
  75% {clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width); }
}

@keyframes selectedAnim { 

from { width:0; height: 0; border:0px solid transparent; } 
to {  width:100%; height: 50%; border:1px solid red; } 
}


.selected {

		box-shadow: inset 0 0 0 1px rgba($main-color, .5);
		position: relative;
		



	    &::before,
  		&::after  {
			
  			content: '';
  			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: -1;
			margin: -1 * $clip-distance * 100%;
			box-shadow: inset 0 0 0 2px; 
		    
		    animation: clipMe 8s linear infinite;
  		}

  		&::before {
    		animation-delay: $anime-time * -.5;
  		}
}