.travaux {

	display: none;
	font-size: 50px;
	opacity: 0.5;
	color: red;

	.travaux__Bloc {
		height:300px;
		width:100%;
		background-color:red;
		font-size: 12px;
		color: white;
		overflow: hidden;

		&:hover {
			//background-color : white;
		}

		.miniature {

		  
		  display: inline-block;

			img {
			  height: 100%;
			  cursor: pointer;
			  
			}
		}
	}

	.travaux__selected{
		background-color:white;
	}



}