.travaux {

	display: none;
	font-size: 50px;
	opacity: 0.5;
	color: red;

	.travaux__Bloc {
		height:300px;
		width:100%;
		background-color:red;

		&:hover {
			background-color : white;
		}
	}

	.travaux__selected{
		background-color:white;
	}


}