.travaux {

	display: none;

	.travaux__selected {

		background-color:white;
		opacity: 0.4;
	}

	.travaux__Bloc {

		height:300px;
		width:100%;
		background-color:red;
		font-size: 12px;
		color: white;
		overflow: hidden;

		.miniature {

			overflow: hidden;
			height:100%;
			width:100%;

			img {
				height: 100%;
				cursor: pointer;

				&:hover{
					opacity: 0.2;
					height: 500px;
				}
			}
		}
	}
}


.lightbox {

	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);

	img {
		max-width: 100%;
		max-height: 100%;
	}

	.lightbox__wrap {

		display: inline-block;
		position: relative;
		margin-top: 47vh;
		transform: translateY(-50%);

		.sliderWrap {

			width: 850px;
			overflow:hidden;
			position:relative;

			.slider {
				width: 11900px; /* !! tu ne peux pour le moment stocker pas plus de 14 images dans le slider */
				overflow:hidden;
				margin: 0;
				padding:0;

				li {

					float:left;

					img {
						vertical-align:middle;
					}
				}
			}
		}

		.lightbox__title {
			font-size: 30px;
			text-align: left;
			width: 100%;
			color:#989170;
		}

		.lightbox__sous_titre {
			font-size: 18px;
			text-align: left;
			width: 100%;
			color:#989170;
		}

		.lightbox__description {
		    font-size: 13px;
		    padding-top: 11px;
		    text-align: left;
		}

		.lightbox__wrap__close {
			position: absolute;
			width: 80px;
			right: -90px;
			top: -25px;
			font-size: 50px;
		}

		.slider__next, .slider__prev {
			position:absolute;
			font-size: 50px;
			color: #000;
		}

		.slider__next {
			right:-100px;
			top: 240px;
			color: white;
		}

		.slider__prev {
			left:-80px;
			top: 240px;
			color: white;
		}
	}
}

.lightbox .title {

  width: 100%;
  text-align:center;
  font-size:30px;
  font-weight:600;
  display: block;
  position: relative;
  margin-left:-240px;
}

.blankArea {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

